body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(104, 0, 52, 0.918);
}

h1 {
    font-size: 11rem;
    font-family: Oregano;
}

.letter {
    transition: color 1000ms;
}