body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(9, 173, 238, 0.877);
}

h1 {
    font-size: 15rem;
    font-family: Oregano;
}

.letter {
    transition: color 1000ms;
}